<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/base.css}" rel="stylesheet">
	<title th:text="${title}"></title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">
</head>

<body>
	<header th:fragment="intestazione">
		    <!-- navigation bar -->
    <nav>
        <!-- caricamento immagine logo a sinistra con uno spazio prima del nome della agenzia -->
        <div class="titolo">
            <img th:src="@{/image/logo.jpg}" width="80px" height="70px" align="left" hspace="20px" /> <h2> Agenzia Viaggi da Sogno </h2>
        </div>
        
        <ul>
             <li>
                <!-- collegamento ipertestuale alla pagina itinerari -->
                <a th:href="@{/}">Home</a>
            </li>
            <li>
                <!-- collegamento ipertestuale alla home --> 
                <a th:href="@{/default}">Menu</a>
            </li>
            <li>
                <!-- collegamento ipertestuale alla pagina itinerari -->
                <a th:href="@{/itinerari}">Itinerari</a>
            </li>
            <li>
                <!-- collegamento ipertestuale alla pagina guide -->
                <a th:href="@{/guideTeam}"> Guide  </a>
            </li>
            <li>
                <!-- collegamento ipertestuale alla pagina informazioni -->
                <a th:href="@{/informazioni}"> Informazioni</a>
            </li>
            <li>
                <!-- collegamento ipertestuale alla pagina informazioni -->
                <a th:href="@{/login}"> Login</a>
            </li>
             <li>
                <!-- collegamento ipertestuale alla pagina informazioni -->
                <a th:href="@{/register}"> Registrati</a>
            </li>
        </ul>  
    </nav>
    
	</header>

	<footer th:fragment="fondo" th:style="'z-index:2'">
		<div class="contact">
		<div class="contact-map">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7275.595049006987!2d12.468425670076579!3d41.851402010556754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe70ced1e786fea34!2sUniversit%C3%A0+Degli+Studi+Roma+Tre+-+Dipartimento+di+Ingegneria!5e0!3m2!1sit!2sit!4v1496662417116"
				width="100%" height="auto" frameborder="0" style="border: 0"></iframe>
		</div>
		<div class="contact-info" th:style="'color:white'">
			<h1>Contatti</h1>
			<div class="dati">
				<span class="d" th:style="'font-sixe:30px'">Indirizzo</span>
				<p>Via Vito Volterra, 62, 00146 Roma RM</p>
				<span class="d" th:style="'font-sixe: 30px'">Numero di Telefono</span>
				<p>+39 06 5733 2100</p>
				<span class="d" th:style="'font-sixe:30px'">Email</span>
				<p>viaggidasogno@gmail.com</p>
			</div>
			<div class="logo">
				<img th:src="@{/image/logo.jpg}" height="60" width="60" align="right">
			</div>
		</div>
	</div>
	</footer>
	
</body>
</html>