body {
    font-family: 'Gill Sans',  'Gill Sans MT','Trebuchet MS', sans-serif;
    margin: 0;
}
.content {
    padding: 10px;
    width: 100%;
    box-sizing: border-box; 
    margin: 0 auto;
    float: left;
}
#titolo {
    border-top: solid 2px #000;
    padding: 15px;
    background: #0a83b8;
    color: #000;
    overflow: auto;
}
#modulo {
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    padding: 15px;
    color: #000;
    overflow: auto;
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#testoViaggi {
    border-bottom: solid 2px #000;
    padding: 10px;
    color: #000;
    overflow: auto;
    background: #FFF;
    text-align: center;
}

    #modulo ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }
#modulo ul li {
    padding: 0;
    width: 100%;
    float: left;
    box-sizing: border-box;
}
    #modulo ul li.uno, #modulo ul li.due, #modulo ul li.tre, #modulo ul li.quattro, #modulo ul li.cinque, #modulo ul li.sei {
        float: none;
        clear: left;
        width: 100%;
        margin: 1%;
        columns: 2;
        text-align: left;
    }

    #modulo ul li.sette {
        padding: 20px 0; 
        text-align: center;
    }
    #modulo ul li label {
        display: block;
        padding-bottom: 5px;
        padding-left: 550px;
        width: 100%;
        text-align: left;
    }
    #modulo ul li input {
        border: solid 1px #000;
        background: rgba(255, 127, 80, 0.74);
    }
    #modulo ul li .pulsante{
        color:#000; 
        background: coral; 
        border: solid 2px #000;
        padding: 12px 25px;
        text-transform:uppercase;
        cursor: pointer;
    }
        