<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
     <!-- logo -->
    <link rel=icon th:href="@{/image/logo.jpg}" >
    <title>Giorno</title>
    <link rel="stylesheet" th:href="@{/css/giorno.css}">
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
<div th:if="${giorno}" th:object="${giorno}" >
    <section id="titolo">
       <h1 th:text=" 'Giorno' + *{numeroGiornoDiVisita}"> </h1>
        <div>
            Alla scoperta di ...
        </div>
    </section>

    <section id="icona">
    
        <img th:src="@{/image/luogo.png}"  width="45" height="50" hspace="15" /> <span th:text="*{zona}"> quartiere Museumsinsel e Mitte </span>
        <img th:src="@{/image/orario.png}"  width="45" height="50" hspace="15" /> <span th:text="*{durata} + 'h'" > 3 </span> 
        <img th:src="@{/image/money.png}" width="45" height="50" hspace="15" /> <span th:text="*{costoGiornata} + ' euro'" > 40 </span> 
    </section>

    <section id="monumenti">
   <section id="programma">
        <div class="top">
            <h2> Programma </h2>
        </div>
        <div>
		<ul>
			<li th:each="monumento : ${monumenti}">
				<a href="monumento.html" 
				   th:href="@{'/monumento' + '/' + ${monumento.id}}" 
				   th:text= "'Monumento '+ ${monumento.titolo}">Monumento</a>
			</li>
		</ul>
		<ul>
		<div th:unless="${monumenti}" id="programma"> 
		<li> Al momento non sono ancora presenti monumenti per questa giornata</li>
	</div>
        </div>
    </section>
     
	<div class="desc">
		<h4>Dove mangiare:</h4> 
		<span th:text="*{descrizione}" > Restaurant Maximilians Berlin, FriedrichstraBe 185-190 </span> 
	</div>
	
    </section>
    	<form th:action="@{'/admin/eliminaGiorno' + '/' + ${id}}" method="POST">
		<span><button type="submit" class="button">Elimina Giorno</button></span>
	</form>
   		</div>
   	
    	<div th:unless="${giorno}" id="programma"> Questo giorno non esiste</div>
    </div>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>