<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
     <link rel=icon th:href="@{image/logo.jpg}" >
    <title>Admin Home</title>
   <link rel="stylesheet" th:href="@{css/index.css}">
   <link th:href="@{css/base.css}" rel="stylesheet">
   <link th:href="@{css/home.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <section>
    <div>
     <img  th:src="@{image/logo.jpg}" height="610" width="565" align="top" hspace="450" >
    	<h2 align="center">Congratulazioni, il tuo Login è avvenuto con successo! </br>
    	Ora puoi visionare e modificare i contenuti del sito </h2>
    </div>
    </section> 
    <section id="el"> 
		<ul class="elenco">
			<li><a th:href="@{/itinerari}" th:style="'color:black'">Elenco itinerari</a></li>
			<li><a th:href="@{/guideTeam}" th:style="'color:black'">Elenco guide</a></li>
			<li><a th:href="@{/monumenti}" th:style="'color:black'">Elenco monumenti</a></li>
			<li><a th:href="@{/admin/addGiorno}" th:style="'color:black'">Inserisci Giorno</a></li>
			<li><a th:href="@{/admin/addItinerario}" th:style="'color:black'">Inserisci Itinerario</a></li>
			<li><a th:href="@{/admin/addGuida}" th:style="'color:black'">Inserisci Guida</a></li>
			<li><a th:href="@{/admin/addMonumento}" th:style="'color:black'">Inserisci Monumento</a></li>
			<li>
				<a th:href="@{/logout}">Logout</a>
	   		</li>
				</ul>
    </section>
    <footer></footer>
</body>
</html>