/*Contatti e mappa*/
header nav {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.4);
    z-index:5;
}

/* Stile per la barra principale. Il colore � il celestino, con la scritta nera*/
header nav .titolo {
    padding: 5px;
    color: #FFF;
}

/* Stile per i link presenti nella barra principale. Il testo � allineato a destra*/
header  nav ul {
    list-style:none;
    float:right;
    margin: -40px;
    padding:0;
    display:flex;
}

header nav ul li a {
    padding: 10px 30px;
    color: #FFF;
    text-decoration:none;
    text-transform:uppercase;
}

header  nav ul li a:hover {
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
}
        
footer .contact {
    width:100%;
    height:auto;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    padding:1%;
    background-color:black;
	border-top: solid 2px;
    border-color: white;
    z-index:6;
}

footer .contact-map {
    width:100%;
    height:auto;
    flex:50%;
    z-index:6;
}

footer .contact-map iframe {
    width: 100%;
    height: 100%;
    z-index:6;
}

footer .contact-info {
    width: 100%;
    height: auto;
    flex: 50%;
    text-align:center;
    z-index:6;
}

footer .contact-info h1 {
    margin-bottom:10px;
    color:white;
    z-index:6;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

footer .d {
    width: 100%;
    height: auto;
    flex: 50%;
    margin-bottom: 10px;
    color: white;
    text-align:left;
    font-size: 40px;
    z-index:6;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

footer .dati p {
    width: 100%;
    height: auto;
    flex: 50%;
    margin-bottom: 10px;
    color: white;
    z-index:2;
    font-family: 'Roboto', sans-serif;
}

.button {
  background-color: coral;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

footer .logo {
    margin-right:10px;
    z-index:6;
}