*{
    margin:0;
    
    box-sizing:border-box;   
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    padding:0;
}

.content {
	z-index:2;
	position: relative;
    width: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    background: url(../image/sfondoMappa.png)
	repeat fixed 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.box {
    width:80%;
    height:600px;
    display:inline-block;
    margin:100px 10%;
    background-color:floralwhite;
    box-shadow: 0 27px 87px rgba(0,0,0,0.37);
    border-radius:15px;
    overflow:hidden;
    position:relative;
    z-index: 3;
}

.box-img {
    float:left;
    width:45%;
    z-index:4;
}

.box-text {
    width:55%;
    float:left;
    padding:70px 70px 70px 35px;
    z-index:4;
}

.box-text h1 {
    font-size:40px;
    font-weight:bold;
    color:black;
    margin-bottom:30px;
    z-index:4;
}

.box-text h2 {
    font-size:25px;
    font-weight:bold;
    color:black;
    margin-bottom:45px;
    z-index:4;
}

.box-text p {
    font-size:14px;
    font-weight:400;
    color:black;
    line-height:30px;
    letter-spacing:0.25px;
    margin-bottom:15px;
    z-index:4;
}

.button2 {
  background-color: #0a83b8;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}