body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.icona span {
	 font-size: 5px;
    font-family: 'Berlin Sans FB';
}

.parallax {
	background: url(../image/berlino4_b.jpg)
	repeat fixed 100%;
	background-repeat: no-repeat;
	background-size: cover;	
}

.parallax-inner {
    padding-top: 25%;
    padding-left: 80px;
    text-align: left;
    text-transform: full-width uppercase;
    font-size: 80px;
    color: #000;
    font-family: 'Berlin Sans FB';
    text-transform:full-width;
}

h3 {
    padding-top: 10px;
    color: #000;
    text-align: left;
    font-size: 30px;
    font-family: 'Berlin Sans FB';
    padding-bottom: 10%;
}

#icona {
	margin-top:-30px;
    width: 100%;
    background-color: #f5bd66;
    border-bottom: solid 2px #000;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

#descrizione {
    width: 90%;
    margin: 15px;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 10px;
}

#programma .top {
    text-transform: full-width;
    text-transform: uppercase;
    text-align: center;
}

#programma .elenco {
    margin-left: 0;
    margin-right: 50px;
    counter-reset: li;
}

.elenco li {
    list-style-type: none;
    position: relative;
    margin-bottom: 1.5em;
    border: 6px solid #f5bd66;
    padding: 0.6em;
    border-radius: 4px;
    background: #FEFEFE;
    color: #000;
}

.elenco li:before {
    position: absolute;
    top: -0.7em;
    padding-left:0.4em;
    padding-right:0.4em;
    font-size:16px;
    font-weight:bold;
    color: #ff6a00;
    background: #FEFEFE;
    border-radius: 50%;
    counter-increment: li;
    content: counter(li);
}

.push ul {
	list-style: none;
	font-family: 'Roboto', sans-serif;
	margin-top:100px;
}
.push li {
	position: relative;
	padding: 20px 0 20px 40px;
	color: rgb(0, 128, 255);
	font-variant: small-caps;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
	margin-left: 30px;
}

.push li:before {
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgb(0, 128, 255);
	content: "";
	left: 0;
	transition: .3s ease-in-out;
	top: 27px;
}

.push li:after {
	position: absolute;
	border-left: 1px dotted #1ccfc9;
	width: 1px;
	bottom: -12px;
	content: "";
	left: 3px;
	top: 48px;
}

.push li:hover:before {box-shadow: 0 0 0 10px #1ccfc9}
.push li:last-child:after {content: none;}