<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
     <!-- logo -->
    <link rel=icon th:href="@{image/logo.jpg}" >
    <title>Giorno</title>
    <link rel="stylesheet" th:href="@{css/giorno.css}">
    <link th:href="@{css/base.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
    <section id="titolo">
        <h1> Giorno 1 </h1>
        <div>
            Alla scoperta di ...
        </div>
    </section>

    <section id="icona">
        <img th:src="@{image/luogo.png}"  width="45" height="50" hspace="15" /> Zona: quartiere Museumsinsel e Mitte
        <img th:src="@{image/orario.png}"  width="50" height="50" hspace="15" /> Durata visita guidata: 3 ore. Partenza alle ore 08:30
        <img th:src="@{image/money.png}" width="50" height="50" hspace="15" /> Prezzo: 40 euro
    </section>

    <section id="monumenti">
   
        <div class="1">
            <div>
                <img th:src="@{image/isolaMusei.jpg}"  width="500" height="300" hspace="15" align="left" />
            </div>
            <div>
                <a href="monumento"> Isola dei Musei </a>
            </div>
            <p>
                La famosa Isola dei Musei di Berlino, situata lungo il fiume Sprea, nel cuore della città, è uno dei complessi espositivi più importanti del mondo. Il complesso, dichiarato Patrimonio dell’Umanità dall’UNESCO, è formato da cinque prestigiosi musei, che accolgono collezioni archeologiche e d’arte.
            </p>
        </div>

        <div class="2">
            <img th:src="@{image/porta.jpg}"  width="500" height="300" hspace="15" align="left" />
            <div class="descr">
                <a href="monumento"> Porta di Brandeburgo </a>
                <p>
                    La Porta di Brandeburgo (in tedesco Brandenburger Tor) è uno dei monumenti di Berlino più iconici e importanti, simbolo della riunificazione della Germania. Costituisce la fine occidentale del viale Unter den Linden, e oltrepassandola si raggiunge il parco Tiergarten e il Reichstag. Prima della sua costruzione qui si trovava il confine della città, ma a causa della rapida crescita di Berlino venne costruito questo monumento, una porta per i cittadini per consentire loro di muoversi verso la parte “nuova” della città.
                </p>
            </div>
        </div>
    </section>
    

	<div class="desc">
		<h4>Dove mangiare:</h4> 
		<p>Restaurant Maximilians Berlin, FriedrichstraBe 185-190</p>
	</div>
	
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>