<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="utf-8" />
    <!-- logo -->
    <link rel=icon th:href="@{/image/logo.png}">
    <!-- titolo mostrato per la pagina dell'itinerario -->
    <title>Inserisci Itinerario</title>
    <!-- riferimento al foglio di stile css chiamato stile in stili relativo a tutto il progetto -->
    <link rel="stylesheet" th:href="@{/css/formPage.css}" />
    <link th:href="@{/css/base.css}" rel="stylesheet">
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<section id="modulo">
	<div class="content">
	<div>
		<h1>Inserisci i dati di un itinerario</h1>
	</div>
	<form th:action="@{/admin/giorno}" method="POST" th:object="${giorno}">
		
		<div>
			<div>
				<label>Numero giorno di visita:</label>
				<span><input type="text" th:field="*{numeroGiornoDiVisita}" /></span>
			</div>		
			<div>
				<label>Zona:</label>
				<span><input type="text" th:field="*{zona}" /></span>
			</div>
			<div>
				<label>Descrizione:</label>
				<span><input type="text" th:field="*{descrizione}" /></span>
			</div>
			<div>
				<label>Costo:</label>
				<span><input type="int" th:field="*{costoGiornata}" /></span>
			</div>
			<div>
				<label>Durata:</label>
				<span><input type="int" th:field="*{durata}" /></span>
			</div>
			<div>
			<select name="itinerarioSelezionato" >
        <option th:each="itinerario : ${itinerari}" th:value="${itinerario.id}" th:text="${itinerario.nome}"> 
        </option>
			</select>
			</div>
			<div>
			<select name="monumentoSelezionato" multiple="multiple">
        <option th:each="monumento : ${monumenti}" th:value="${monumento.id}" th:text="${monumento.titolo}" > 
        </option>
			</select>
			</div>
			<div>
				<span><button type="submit" class="pulsante">Invio</button></span>
			</div>
		</div>
	</div>
	</section>
	</form>

</body>
</html>