<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta charset="utf-8" />
    <!-- logo -->
    <link rel=icon th:href="@{/image/logo.png}">
    <!-- titolo mostrato per la pagina dell'itinerario -->
    <title>Inserisci Guida</title>
    <!-- riferimento al foglio di stile css chiamato stile in stili relativo a tutto il progetto -->
    <link rel="stylesheet" th:href="@{/css/formPage.css}" />
    <link th:href="@{/css/base.css}" rel="stylesheet">

</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<section id="modulo">
	<div class="content">
	<div>
		<h1>Inserisci i dati di una guida</h1>
	</div>
	<form th:action="@{/admin/guida}" method="POST" th:object="${guida}">	
		<div>
			<div>
				<label>Nome:</label>
				<span><input type="text" th:field="*{nome}" /></span>
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>		
			<div>
				<label>Cognome:</label>
				<span><input type="text" th:field="*{cognome}" /></span>
				<span th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
			</div>
			<div>
				<label>Matricola:</label>
				<span><input type="text" th:field="*{matricola}" /></span>
				<span th:if="${#fields.hasErrors('matricola')}" th:errors="*{matricola}"></span>
			</div>
			<div>
				<label>Email:</label>
				<span><input type="text" th:field="*{email}" /></span>
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
			</div>
			<div>
				<label>Numero di telefono:</label>
				<span><input type="text" th:field="*{numeroDiTelefono}" /></span>
				<span th:if="${#fields.hasErrors('numeroDiTelefono')}" th:errors="*{numeroDiTelefono}"></span>
			</div>
			<div>
				<span><button type="submit" class="pulsante">Invia</button></span>
			</div>
		</div>
		</div>
	</section>
	</form>
	<footer></footer>
</body>
</html>