<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
     <link rel=icon th:href="@{image/logo.jpg}" >
    <title>Informazioni</title>
   <link rel="stylesheet" th:href="@{css/informazioni.css}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">
</head>
<body>
<nav>
        <!-- caricamento immagine logo a sinistra con uno spazio prima del nome della agenzia -->
        <div class="titolo">
            <img th:src="@{image/logo.jpg}" width="80px" height="70px" align="left" hspace="40px" /> <h2> Agenzia Viaggi da Sogno </h2>
        </div>
        
        <ul>
            <li>
                <!-- collegamento ipertestuale alla home-->
                <a href="/"> Home </a>
            </li>
            <li>
                <!-- collegamento ipertestuale alla pagina guide -->
                <a href="guideTeam"> Guide </a>
            </li>
            <li>
                <!-- collegamento ipertestuale alla pagina informazioni -->
                <a href="itinerario"> Itinerario</a>
            </li>
        </ul>
      
        
    </nav>
    <div class="wrapper">
        <div class="box">
            <div class="box-img">
                <img  th:src="@{image/ingegneria.png}" height="600" width="515">
            </div>
            <div class="box-text">
                <h1>Informazioni</h1>
                <div class="info">
                    <div class="dati">
                        <h3>Email</h3>
                        <p>viaggidasogno@gmail.com</p>
                        <h3>Numero di Telefono</h3>
                        <p>+39 06 5733 2100</p>
                        <h3>Indirizzo</h3>
                        <p>Via Vito Volterra, 62, 00146 Roma RM</p>
                        <h3>Orari</h3>
                        <p>Dal lunedì al venerdì 07:30-19:30</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>