<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
    
     <!-- logo -->
    <link rel=icon th:href="@{/image/logo.jpg}" >
    <!-- titolo mostrato per la pagina dell'itinerario -->
    <title> Itinerario </title>
    <!-- riferimento al foglio di stile css chiamato stile in stili relativo a tutto il progetto -->
    <link rel="stylesheet" th:href="@{/css/itinerario.css}" />
    <link th:href="@{/css/base.css}" rel="stylesheet">
</head>

<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div>
     
     <div th:if="${itinerario}" th:object="${itinerario}" >
     <section class="parallax">
    <div class="parallax-inner">
			<h2 th:text="*{nome}"> A spasso per Berlino</h2>
			<h3 th:text="*{destinazione}">descrizione </h3>
    </div>
    </section>
  <section id="icona">
        <img th:src="@{/image/calendar.png}" width="50px" height="50px" hspace="15px" />  <span th:text=" 'Dal ' +*{dataInizio}+ ' al ' + *{dataFine}"> Dal 20 luglio al 23 luglio </span>
        <img th:src="@{/image/finePrenotazione.png}" width="50px" height="50px" hspace="15px" />  <span th:text="*{scadenzaPrenotazione}">Prenotazioni fino al 23 giugno </span> 
        <img th:src="@{/image/guidaIcona.png}" width="50px" height="50px" hspace="15px" /> <a th:each="guida : ${guida}"  th:href="'guida/' + *{guida.id}" th:text="*{guida.nome} + ' ' + *{guida.cognome}"> Guida</a> 
        <img th:src="@{/image/money.png}" width="50px" height="50px" hspace="15px" />  <span th:text="*{costoTotale} + ' euro'"> 500£ </span>
        


    </section>
    <section id="descrizione" >
            <span th:text="*{descrizione}" th:style="'color:black'">  A spasso per Berlino è l'itinerario fatto apposta per le persone che programmano una vacanza alla ricerca della storia!
                Il viaggio è composto da 4 giornate, nella quale sarà incluso il pass per accedere ai musei.</span>

                

    </section>
     <section id="programma">
        <div class="top">
            <h2> Programma </h2>
        </div>
        <div class="elenco">
		<ul>
			<li th:each="giorno : ${giorni}">
				<a href="giorno.html" 
				   th:href="@{'/giorno' + '/' + ${giorno.id}}" 
				   th:text= "Giorno + ' ' + ${giorno.numeroGiornoDiVisita}"> Giorno</a>
			</li>
		</ul>
		<ul>
		<div th:unless="${giorni}" id="programma"> 
		<li> Non ci sono ancora giorni per questo itinerario</li>
	</div>
        </div>
    </section>
   		</div>
    	<div th:unless="${itinerario}" id="programma"> Questo itinerario non esiste</div>
    </div>

   
    
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>