<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(title=#{title.formProdotto})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<div>
		<h4>Inserisci i dati di un itinerario</h4>
	</div>
	<form th:action="@{/admin/itinerario}" method="POST" th:object="${itinerario}">
		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<div>
				<span>Nome:</span>
				<span><input type="text" th:field="*{nome}" /></span>
			</div>		
			<div>
				<span>Destinazione:</span>
				<span><input type="text" th:field="*{destinazione}" /></span>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>

</body>
</html>