<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
     <!-- logo -->
    <link rel=icon th:href="@{image/logo.jpg}" >
    <title>Isola dei Musei</title>
    <link rel="stylesheet" th:href="@{css/monumento.css}">
    <link th:href="@{css/base.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
</head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>
      
   <section id="sezione">
    <img th:src="@{image/isolaMusei.jpg}" width="500" height="300" hspace="3" align="left" />
    <section id="titolo" >
        <h1 class="nome">Isola dei Musei</h1>
        <div>
            <h4 class="anno">Iscrizione al Patrimonio dell'umanità dell'UNESCO: 1999</h4>
        </div>
    </section>
    <section id="icona">
        <img th:src="@{image/luogo.png}"  width="48" height="50" hspace="15" /> BodestraBe 1-3, 10178 Berlin, Germania
        <img th:src="@{image/orario.png}"  width="50" height="50" hspace="15" /> Orari: 10:00-18:00 tutti i giorni
        </br>
        <img th:src="@{image/money.png}"  width="50" height="50" hspace="15" /> Intero: 18 euro Ridotto: 9.00 euro
    </section>
    <section>
        <div class="descrizione">
            <p> </br></br>
                Nel complesso l’Isola dei musei di Berlino è una grandiosa opera d'arte: cinque musei di fama mondiale dell'epoca prussiana, con l’aggiunta della moderna James-Simon-Galerie, formano una straordinaria area museale che nel 1999 è stata insignita del titolo di patrimonio mondiale dell’umanità dall'UNESCO. Nello stesso anno è stato adottato anche il piano generale per l'isola dei musei, che prevede un collegamento sotterraneo tra le varie strutture: la passeggiata archeologica.
            </p>
        </div>
    </section>
    </section> 
    
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>