<!DOCTYPE html>

<html lan=it xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <!-- logo -->
    <link rel=icon th:href="@{/image/logo.png}">
    <!-- titolo mostrato per la pagina dell'itinerario -->
    <title>Inserisci Monumento</title>
    <!-- riferimento al foglio di stile css chiamato stile in stili relativo a tutto il progetto -->
	<link rel="stylesheet" th:href="@{/css/formPage.css}" />
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,100&display=swap" rel="stylesheet">
</head>

<body>
    <header th:replace="fragments/base.html :: intestazione"></header>
    <section id="modulo">
	<div class="content">
    <div>
		<h1>Inserisci i dati del monumento</h1>
	</div>
	<form th:action="@{/admin/monumento}" method="POST" th:object="${monumento}">	
		<div>
			<div>
				<label>Titolo:</label>
				<span><input type="text" th:field="*{titolo}" /></span>
			</div>	
			<div>
				<label>Anno:</label>
				<span><input type="text" th:field="*{anno}" /></span>
			</div>	
			<div>
				<label>Descrizione:</label>
				<span><input type="text" th:field="*{descrizione}" /></span>			
			<div>
			<div>
				<label>Luogo:</label>
				<span><input type="text" th:field="*{luogo}" /></span>			
			<div>
			<div>
				<label>Orario:</label>
				<span><input type="number" th:field="*{orario}" /></span>			
			<div>
			<div>
				<label>Prezzo biglietto:</label>
				<span><input type="number" th:field="*{prezzoBiglietto}" /></span>			
			<div>
			<div>
				<label>Link immagine del monumento:</label>
				<span><input type="text" th:field="*{file}" /></span>			
			<div>
				<span><button type="submit" class="pulsante">Conferma Monumento</button></span>
			</div>
		</div>
	</form>
	<footer></footer>
</body>
</html>
    